/* color palette from <https://github.com/vuejs/theme> */
:root {
  --text-white-soft: #f8f8f8;
  --text-color-mint: #2bb673;
  --color-green: #0be85d;
  --color-yellow: #def9ac;

  --color-dark-blue: #141720;
  --color-dark-green: #295e5f;
  --color-black: #060606;
  --color-background-grey: #f5f5f5;
  --color-grey: #8B92AE;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  } */
}

* {
margin: 0;
padding: 0;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
}
