@import "./base.css";

#app {
  margin: 0;
  color: var(--text-white-soft);
}

a,
.text-color {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  color: var(--vt-c-white-soft);
  transition: 0.4s;
  padding: 3px;
}

button {
  background-color: var(--color-dark-blue);
  border: none;
  padding: 1rem 3rem;
  border-radius: 30px;
  color: var(--text-white-soft);
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-dark-green);
}

@media (min-width: 1024px) {
}
